/*social */
.social-profile {
  color: #fff;
}

.social-profile a {
  color: #fff;
}

.social-profile {
  position: relative;
  margin-bottom: 10;
}

.social-prof {
  color: #333;
  text-align: center;
}

.social-prof .wrapper {
  width: 70%;
  margin: auto;
}

.social-prof img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-bottom: 3rem;
  border: 5px solid #000;
}

.social-prof h3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 0;
  font-family: Open Sans;
}

.profilepic {
  position: relative;
  overflow: hidden;
  width: 10rem;
  height: 10rem;
  margin: auto;
  border-radius: 50%;
  background-color: #111;
}

.profilepic:hover .profilepic__content {
  opacity: 1;
}

.profilepic:hover .profilepic__image {
  opacity: 0.5;
}

.profilepic__image {
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.profilepic__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.profilepic__icon {
  color: white;
  padding-bottom: 0.5rem;
}

.fas {
  font-size: 1.25rem;
}

.profilepic__text {
  text-transform: uppercase;
  font-size: 0.75rem;
  width: 50%;
  text-align: center;
}
