.mainLogin {
  height: 82.5vh;
  font-family: Inter;
}
.cardLogin {
  background-image: url("https://s3-alpha-sig.figma.com/img/ed87/85fe/7de95bec9d03dbfdbe51748f5ea80bcf?Expires=1631491200&Signature=BNiFEu-PI1zIMV7IZllSRJxiKmuvVyXMrdRLow7WOnvrDuTYapYq-rfcE02jCHwBPuQAoP0J1npBUS2bD~AwxsMQEUVSV3g83t2JC40DceT2pV20Un2V~1E8JfP~1i6rdW-Ncf4dfB5RDGEc0Ui47wxg4~M~XmC37ehmwB~88nkOxrJTwesS9TWtdJo-kx~GRi3tQ6s8-foq3K~sYDP6Lqf25SMv0WjiVP0pbl4Tg4wnFyQ2Eg9K-LrGHj0y04gaXbj~8ZDL~x2Cl6nT5622nXqezO590iT0n4H0xcomW4AHVaZDaUmXfzQDaK1bmZyHXQqgiUvmPKkRGxicwP2avw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  height: 100%;
  background-size: cover;
  background-position: center;
}
.cardLogin .cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.backgroundBody {
  margin: 0;
  color: white;
  border-radius: 2em;
  background-color: #00000085;
  height: 35em;
  width: 35em;
}
.headerElement {
  font-family: Inter;
  margin-top: 2.5em;
  text-align: center;
  font-size: 1.5em;
  position: relative;
  right: 1.4em;
  margin-bottom: 0.9em;
  font-weight: 700;
}
#email {
  width: 20em;
}
#email .emailInput {
  border: 0.1em solid #e8e8e8;
  background: none;
  height: 2.8em;
  color: #e8e8e8;
}
#password {
  width: 20em;
}
#password .passwordInput {
  border: 0.1em solid #e8e8e8;
  background: none;
  color: #e8e8e8;
  height: 2.8em;
}
.passwordText {
  margin-top: 0.4em;
}
.formMain {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.aLabel {
  display: flex;
  padding-bottom: 0.5em;
}
.inputElement {
  position: relative;
  top: 1.5em;
  right: 2.1em;
}
.labelElement {
  position: relative;
  top: 1.15em;
  right: 2em;
}

.forgotPassword {
  position: relative;
  top: 1.15em;
  left: 2em;
}
.loginGroup .loginButton {
  width: 20em;
  background-color: #ffbe4b;
  border: none;
  margin-top: 1em;
  height: 3em;
}
.googleGroup .googleButton {
  width: 20em;
  border: none;
  margin-top: 1em;
  background-color: #2d3748;
  height: 3em;
}
.googleGroup .googleIcon {
  height: 1.2em;
  padding-right: 1.5em;
}
.facebookGroup .facebookButton {
  width: 20em;
  border: none;
  margin-top: 1em;
  background-color: #2d3748;
  height: 3em;
}
.facebookGroup .facebookIcon {
  height: 1.2em;
  padding-right: 0.6em;
}
